{% extends "base.html" %}
{% block content %}
    <p>Szczegóły ogłoszenia</p>
    <p>Tytuł: {{ object.title }}</p>
    <p>Cena: {{ object.price }}</p>
    <p>Waluta: {{ object.currency_for_price }} </p>
    <p>Powierzchnia: {{ object.area }} </p>
    <p>Liczba pokoi: {{ object.rooms_number }} </p>
    <p>Rynek: {{ object.market }} </p>
    <p>Typ Ogłoszeniodawcy: {{ object.advertiser_type }} </p>
    <p>Film: {{ object.movie }} </p>
{% endblock %}