{% extends "base.html" %}
{% block content %}
    <h1>Lista ogłoszeń</h1>
    {% for a in ad_list_context %}
        <p>Tytuł: {{ a.title }} </p>
        <p>Cena: {{ a.price }} </p>
        <p>{{ a.currency_for_price }} </p>
        <p>Powierzchnia: {{ a.area }} </p>
        <p>Liczba pokoi: {{ a.rooms_number }} </p>
    {% endfor %}
    <p>Lista ogłoszeń</p>
    {% for a in object_list %}
        <p><a href="{% url 'noticeBoard:advertising-detail-view' pk=a.pk %}">{{ a.title }}</a></p>
    {% endfor %}
<!--    DETAIL VIEW-->
<!--    <p>{{ choice.choice_text }}</p>-->
{% endblock %}