{% extends "base.html" %}
{% block content %}

<h1 class="adding-type">Wyszukiwanie ogłoszenia</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Submit">
    </form>

{% endblock %}